[user]
	email = helibom.contact@gmail.com
	name = Henrik Lindblom

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig


# "Force ssh connection"?
# [url "git@github.com:"]
# insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
