[user]
	email = helibom.contact@gmail.com
	name = Henrik Lindblom

[includeIf "gitdir:~/work/**/"]
  path = ~/work/.gitconfig

[diff]
        tool = difftastic
        external = difft

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true

# `git dft` is less to type than `git difftool`.
[alias]
        dft = difftool

[pull]
  rebase = false


# "Force ssh connection"?
# [url "git@github.com:"]
# insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = master
